body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1in;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    color: blue;
    border-bottom: 1px solid black;
    text-align: left;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

.contact-details {
    display: flex;
    justify-content: space-between;
}

.contact-details a {
    text-decoration: underline;
}

.skills, .experience, .education, .languages {
    margin-top: 1em;
    text-align: justify;
}

.experience-item, .education-item {
    margin-bottom: 1em;
}

.bleudefrance {
    color: rgb(48, 140, 232);
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

h1.dark-mode {
    color: #ffffff;
}

h2.dark-mode {
    border-bottom: 1px solid #ffffff;
}

.container {
    max-width: 794px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0.5in;
    }

    .container {
        padding: 0 20px;
    }

    .contact-details {
        flex-direction: column;
        align-items: flex-start;
    }
}

#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.contact-details a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.job-info, .job-details {
    display: flex;
    flex-direction: column;
}

.job-title {
    font-weight: bold;
}

.job-company, .job-year, .job-location {
    font-weight: normal;
}

.job-details {
    font-style: italic;
    text-align: right;
}

.technical-proficiency strong {
    display: block;
    margin-bottom: 0.1em;
}

.technical-proficiency p {
    margin-top: 0;
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.education-info, .education-details {
    display: flex;
    flex-direction: column;
}

.education-degree {
    font-weight: bold;
}

.education-institution, .education-city, .education-year {
    font-weight: normal;
}

.education-details {
    font-style: italic;
    text-align: right;
}

p {
    text-align: justify;
}
