body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
}

.contact-details {
    text-align: center;
    margin-top: 20px;
}

.contact-details a {
    font-size: 1.2em;
    text-decoration: none;
    color: #0077b5;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;
}

.contact-details a:hover {
    color: #005582;
}

.contact-details i {
    margin-right: 10px;
    font-size: 1.5em;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode-toggle {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0077b5;
    border: none;
    color: #ffffff;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #005582;
}

.dark-mode .dark-mode-toggle {
    background-color: #ffffff;
    color: #0077b5;
}

.container {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    max-width: 90%;
    margin: auto;
}

.dark-mode .container {
    background-color: #1e1e1e;
    color: #ffffff;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .contact-details a {
        font-size: 1em;
    }

    .dark-mode-toggle {
        font-size: 16px;
        padding: 8px 16px;
    }
}